In [1]:
import functions
print(functions.__file__)

/Users/ANDREAS/Desktop/polymarket/oddsportal/functions.py

In [2]:
import sys
import os

print(os.getcwd())

/Users/ANDREAS/Desktop/polymarket/oddsportal

In [5]:
############ Final oddsportal scraper

# ATP, baseball, basket, darts, eSports, football, nfl, nhl, rugby
''' Create 4 main functions : scrape_historical, scrape_specific_season, scrape current_season, scrape_next_games
NB : You need to be in the right repository to import functions...'''
import os

from functions import *

#(tournament='premier-league', sport='soccer', country='england', SEASON='upcoming', nmax=5, include_ou=True, ou_total="2.50")
#(tournament='league-one', sport='soccer', country='england', SEASON='upcoming', nmax=30)
#(tournament='europa-league', sport='soccer', country='europe', SEASON='upcoming', nmax=30)
#(tournament='euroleague', sport='basketball', country='europe', SEASON='upcoming', nmax=30)
#(tournament='khl', sport='hockey', country='russia', SEASON='upcoming', nmax=30)
#(tournament='nba', sport='basketball', country='usa', SEASON='upcoming', nmax=30)
scrape_next_games_typeC(tournament='premier-league', sport='soccer', country='england', SEASON='upcoming', nmax=5, include_ou=False, ou_total="2.50")

,TeamsRaw,OddHome,OddDraw,OddAway,Home_id,Away_id,Date
0,16:00 Brighton – Everton,1.87,3.66,4.14,Brighton,Everton,31 Jan 2026
1,16:00 Leeds – Arsenal,6.24,4.26,1.53,Leeds,Arsenal,
2,16:00 Wolves – Bournemouth,3.05,3.58,2.27,Wolves,Bournemouth,
3,18:30 Chelsea – West Ham,1.52,4.50,5.95,Chelsea,West Ham,
4,21:00 Liverpool – Newcastle,1.81,4.04,4.05,Liverpool,Newcastle,